POSTGRES_USER=esoft
POSTGRES_PASSWORD=cambia_esto_en_produccion
POSTGRES_DB=esoft_db
SESSION_SECRET=cambia_esto_en_produccion
PUBLIC_SITE_URL=https://esoft.ucenfotec.ac.cr
AI_API_KEY=
PGADMIN_EMAIL=admin@esoft.local
PGADMIN_PASSWORD=admin
